<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sistemaStock.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<appSettings>
		<add key="SMTP_HOST" value="smtp.gmail.com" />
		<add key="SMTP_PORT" value="587" />
		<add key="SMTP_USER" value="camiyvalen1125@gmail.com" />
		<add key="SMTP_PASS" value="dyilujdcgyuwyaaa" />
	</appSettings>
    <userSettings>
        <sistemaStock.Settings>
            <setting name="ModoOscuro" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeminiApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="BusinessName" serializeAs="String">
                <value>Nombre de negocio</value>
            </setting>
            <setting name="BusinessAddress" serializeAs="String">
                <value>Dirección de mi negocio</value>
            </setting>
            <setting name="PaperWidth" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="TicketSeries" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TicketNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="OcultarHintVentas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LicenseKey" serializeAs="String">
                <value />
            </setting>
            <setting name="LicenseValidated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastExecutedVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultFiscal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultTipoCbte" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="CuitEmisor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PuntoVentaAfip" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RutaCertificadoPfx" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordCertificado" serializeAs="String">
                <value />
            </setting>
            <setting name="AfipModoProduccion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CondicionIvaEmisor" serializeAs="String">
                <value>Responsable Inscripto</value>
            </setting>
            <setting name="ImprimirTicketNoFiscal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RazonSocialEmisor" serializeAs="String">
                <value>Mi Comercio S.R.L</value>
            </setting>
            <setting name="FechaInicioActividades" serializeAs="String">
                <value>2015-01-01</value>
            </setting>
            <setting name="IngresosBrutos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DomicilioComercial" serializeAs="String">
                <value>Av. Siempre Viva 123</value>
            </setting>
            <setting name="MonedaId" serializeAs="String">
                <value>PES</value>
            </setting>
            <setting name="MonedaCotizacion" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="UltimoEmitirFactura" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OcultarCostoEditarPrecio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BarcodePrintShowName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BarcodePrintShowPrice" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoBackupFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoBackupFrequency" serializeAs="String">
                <value>Nunca</value>
            </setting>
            <setting name="LastAutoBackup" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
        </sistemaStock.Settings>
    </userSettings>
</configuration>